/* || TRAILER || */

#Trailer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    overflow: hidden;
    scroll-margin-top: 5rem;
}

.Trailer_Preview {
    position: relative;
    cursor: pointer;
    width: 75%;
    max-width: 40rem;
    height: auto;
}

.Trailer_Play_Icon {
    position: absolute;
    width: 15%;
    top: 54%;
    left: 49%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.Trailer_Modal {
    position: fixed;
    display: none;
    inset: 0;
    z-index: 1000;
}

.Trailer_Modal.Active {
    display: grid;
    place-items: center;
}

.Trailer_Overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(4px);
}

.Trailer_Content {
    position: relative;
    z-index: 1;
    width: 85vw;
    max-width: 90rem;
}

.Trailer_Iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 1rem;
    border: 4px solid rgba(0, 0, 0, 0.301);
}

.Trailer_Close_Button {
    position: absolute;
    top: -25px;
    right: -17px;
    background: none;
    border: none;
    cursor: pointer;
    width: 11vw;
    max-width: 5.5rem;
}

/* || PHONES || */
@media (max-width: 767px) {
    #Trailer {
        gap: 1.5rem;
        padding-block: 1rem 2.5rem;
    }
}

/* || TABLETS || */
@media (min-width: 768px) and (max-width: 1023px) {
    #Trailer {
        gap: 1.75rem;
        padding-block: 1.25rem 4rem;
    }
}

/* || NOTEBOOKS || */
@media (min-width: 1024px) and (max-width: 1279px) {
    #Trailer {
        gap: 2rem;
        padding-block: 1.5rem 5rem;
    }
}

/* || DESKTOPS || */
@media (min-width: 1280px) and (max-width: 1599px) {
    #Trailer {
        gap: 2.25rem;
        padding-block: 1.75rem 5rem;
    }
}

/* || BIG MONITORS || */
@media (min-width: 1600px) {
    #Trailer {
        gap: 2.5rem;
        padding-block: 2rem 5rem;
    }
}


/* || DEVELOPERS || */

#Developers {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background-color: rgba(114, 199, 247);
    scroll-margin-top: 3.55rem;
}

.Background_Decoration2 {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 0;

    background: radial-gradient(circle at 10% 10%, #6c96f8 5%, transparent 5%),
                radial-gradient(circle at 90% 10%, #6c96f8 5%, transparent 5%),
                radial-gradient(circle at 90% 90%, #6c96f8 5%, transparent 5%),
                radial-gradient(circle at 10% 90%, #6c96f8 5%, transparent 5%);
    opacity: 0.5;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.Developers_Texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.Developers_Texts h2 {
    font-family: var(--Font_Title);
    border-bottom: var(--Border_Light);
}

.Developers_Textbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Developers_Textbox p:not(:last-of-type) {
    border-bottom: var(--Border_Light);
}

.Developers_Gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--Content_Gap);
}

.Developers_Gallery img {
    width: 50%;
    max-width: 17.5em;
}

/* || PHONES || */
@media (max-width: 767px) {
    #Developers {
        padding-bottom: 3rem;
    }

    .Background_Decoration2 {
        background-size: 3rem 3rem;
    }

    .Developers_Texts {
        gap: var(--Content_Gap);
    }

    .Developers_Texts h2 {
        font-size: clamp(1.75rem, 5vw, 2.1rem);
        padding-block: 3rem 0.5rem;
    }

    .Developers_Textbox {
        padding: var(--Content_Gap);
        gap: 1.25rem;
    }

    .Developers_Textbox p {
        font-size: clamp(1.1rem, 2.5vw, 1.3rem);
        padding-block: 0 1rem;
    }

    .Developers_Gallery {
        gap: 2rem;
    }
}

/* || TABLETS || */
@media (min-width: 768px) and (max-width: 1023px) {
    #Developers {
        padding-bottom: 3.5rem;
    }

    .Background_Decoration2 {
        background-size: 4rem 4rem;
    }

    .Developers_Texts {
        gap: 1.5rem;
    }

    .Developers_Texts h2 {
        font-size: var(--H2_Size);
        padding-block: 4rem 0.5rem;
    }

    .Developers_Textbox {
        padding: var(--Section_Padding);
        gap: 1.5rem;
    }

    .Developers_Textbox p {
        font-size: 1.15rem;
        padding-block: 0.5rem 1rem;
    }

    .Developers_Gallery {
        gap: 2.5rem;
    }
}

/* || NOTEBOOKS || */
@media (min-width: 1024px) and (max-width: 1279px) {
    #Developers {
        padding-bottom: 3.75rem;
    }

    .Background_Decoration2 {
        background-size: 5rem 5rem;
    }

    .Developers_Texts {
        gap: 2rem;
    }

    .Developers_Texts h2 {
        font-size: 2.2rem;
        padding-block: 5rem 1rem;
    }

    .Developers_Textbox {
        padding: 2.5rem;
        gap: 1.75rem;
    }

    .Developers_Textbox p {
        font-size: 1.25rem;
        padding-block: 0.75rem 1rem;
    }

    .Developers_Gallery {
        gap: 3rem;
    }
}

/* || DESKTOPS || */
@media (min-width: 1280px) and (max-width: 1599px) {
    #Developers {
        padding-bottom: 4rem;
    }

    .Background_Decoration2 {
        background-size: 6rem 6rem;
    }

    .Developers_Texts {
        gap: 2.25rem;
    }

    .Developers_Texts h2 {
        font-size: 2.4rem;
        padding-block: 6rem 1rem;
        border-bottom: var(--Border_Medium);
    }

    .Developers_Textbox {
        padding: 2.5rem;
        gap: 2rem;
    }

    .Developers_Textbox p {
        font-size: 1.3rem;
        padding-block: 1rem 1rem;
    }

    .Developers_Gallery {
        gap: 3.25rem;
    }

    .Developers_Textbox p:not(:last-of-type) {
        border-bottom: var(--Border_Medium);
    }
}

/* || BIG MONITORS || */
@media (min-width: 1600px) {
    #Developers {
        padding-bottom: 4.5rem;
    }

    .Background_Decoration2 {
        background-size: 5.5rem 5.5rem;
    }

    .Developers_Texts {
        gap: 2.25rem;
    }

    .Developers_Texts h2 {
        font-size: clamp(2.4rem, 2vw, 3rem);
        padding-block: 6rem 1rem;
        border-bottom: var(--Border_Heavy);
    }

    .Developers_Textbox {
        padding: 2.5rem;
        gap: 2rem;
    }

    .Developers_Textbox p {
        font-size: clamp(1.3rem, 1.2vw, 1.6rem);
        padding-block: 1rem 1rem;
    }

    .Developers_Gallery {
        gap: 3.25rem;
    }

    .Developers_Textbox p:not(:last-of-type) {
        border-bottom: var(--Border_Heavy);
    }
}


/* || OTHER_GAMES || */

#Other_Games {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: #72e68f;
    scroll-margin-top: 3.55rem;
}

.Background_Decoration3 {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    background-color: transparent; 
    opacity: 0.35;
    background:
        radial-gradient(circle,#2c9e5b 20%, transparent 20%, transparent 80%,#2c9e5b 80%,#2c9e5b),
        radial-gradient(circle,#2c9e5b 20%, transparent 20%, transparent 80%,#2c9e5b 80%,#2c9e5b) 
        12.5px 12.5px;
}

#Other_Games h2 {
    font-family: var(--Font_Title);
    border-bottom: var(--Border_Light);
    text-align: center;
}

.Games_Gallery_Buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.Games_Gallery_Buttons button {
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: all;
    width: 15vw;
    max-width: 6.5em; 
    height: 15vw;
    max-height: 6.5em;
}

.Games_Gallery {
    position: relative;
    width: 80vw;
    max-width: 40rem;
    height: 75vw;
    max-height: 35rem;
    border-radius: 0.5rem;
    overflow: hidden;
    z-index: 1;
}

.Game_Textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: var(--Shadow_Card);
    border: 3px solid #2c9e5b;
}

.Game_Textbox img {
    max-width: 40rem;
}

.Game_Info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--Color_Overlay_Dark);
    color: var(--Color_White);
}

.Game_Info h3 {
    line-height: 1.25;
    max-width: 90%;
}

.Game_Info p {
    line-height: 1.4;
    max-width: 100%;
    overflow: hidden;
}


/* || PHONES || */
@media (max-width: 767px) {
    #Other_Games {
        padding: 1.5rem;
    }

    .Background_Decoration3 {
        background-size: 1.5rem 1.5rem;
    }

    #Other_Games h2 {
        font-size: clamp(1.5rem, 5vw, 2.1rem);
        padding-block: 1rem 0;
    }

    .Games_Gallery_Buttons {
        width: 95vw;
        margin: 1rem auto 0 auto;
    }

    .Games_Gallery {
        margin: 2rem auto;
    }

    .Game_Info {
        gap: 0.3rem;
        padding: 0.5rem;
    }

    .Game_Info h3 {
        font-size: clamp(1.2rem, 2.5vw, 2rem);
    }
    
    .Game_Info p {
        font-size: clamp(0.9rem, 2.2vw, 1.8rem);
    }
}

/* || TABLETS || */
@media (min-width: 768px) and (max-width: 1023px) {
    #Other_Games {
        padding: var(--Section_Padding);
    }

    .Background_Decoration3 {
        background-size: 3rem 3rem;
    }

    #Other_Games h2 {
        font-size: var(--H2_Size);
        padding-block: 1.5rem 0.5rem;
    }

    .Games_Gallery_Buttons {
        width: 95vw;
        margin: 1.5rem auto 0 auto;
    }

    .Games_Gallery {
        margin: 2.5rem auto;
    }

    .Game_Info {
        gap: 0.75rem;
        padding: 1.5rem;
    }

    .Game_Info h3 {
        font-size: 1.65rem;
    }
    
    .Game_Info p {
        font-size: 1.2rem;
    }
}

/* || NOTEBOOKS || */
@media (min-width: 1024px) and (max-width: 1279px) {
    #Other_Games {
        padding: 2.5rem;
    }

    .Background_Decoration3 {
        background-size: 4rem 4rem;
    }

    #Other_Games h2 {
        font-size: 2.2rem;
        padding-block: 1.75rem 0.75rem;
    }

    .Games_Gallery_Buttons {
        width: 90vw;
        margin: 2rem auto 0 auto;
    }

    .Games_Gallery {
        margin: 2.5rem auto;
    }

    .Game_Info {
        gap: var(--Content_Gap);
        padding: var(--Section_Padding);
    }

    .Game_Info h3 {
        font-size: 1.65rem;
    }
    
    .Game_Info p {
        font-size: 1.25rem;
    }
}

/* || DESKTOPS || */
@media (min-width: 1280px) and (max-width: 1599px) {
    #Other_Games {
        padding: 2.75rem;
    }

    .Background_Decoration3 {
        background-size: 5rem 5rem;
    }

    #Other_Games h2 {
        font-size: 2.4rem;
        padding-block: 2rem 0.75rem;
        border-bottom: var(--Border_Medium);
    }

    .Games_Gallery_Buttons {
        width: 75vw;
        margin: 2.5rem auto 0 auto;
    }

    .Games_Gallery {
        margin: 2.5rem auto;
    }

    .Game_Info {
        gap: 1.25rem;
        padding: var(--Section_Padding);
    }

    .Game_Info h3 {
        font-size: 1.7rem;
    }
    
    .Game_Info p {
        font-size: 1.35rem;
    }
}

/* || BIG MONITORS || */
@media (min-width: 1600px) {
    #Other_Games {
        padding: 3rem;
    }

    .Background_Decoration3 {
        background-size: 5.5rem 5.5rem;
    }

    #Other_Games h2 {
        font-size: clamp(2.6rem, 2vw, 3.2rem);
        padding-block: 2.5rem 1rem;
        border-bottom: var(--Border_Heavy);
    }

    .Games_Gallery_Buttons {
        width: 70vw;
        margin: 2.5rem auto 0 auto;
    }

    .Games_Gallery {
        margin: 2.5rem auto;
        max-width: 65rem;
        max-height: 50rem;
    }

    .Game_Textbox img {
        max-width: 65rem;
    }

    .Game_Info {
        gap: 1.5rem;
        padding: 2.5rem;
    }

    .Game_Info h3 {
        font-size: clamp(1.7rem, 1.4vw, 2.1rem);
    }
    
    .Game_Info p {
        font-size: clamp(1.35rem, 1.1vw, 1.5rem);
    }
}


/* || INTERACTIONS / HOVERS || */

/* || LOADING SCREEN || */

@keyframes Matrix {
    0% {
        background-position: 0% 100%, 50% 100%, 100% 100%
    }

    100% {
        background-position: 0% 0%, 50% 0%, 100% 0%
    }
}