/* || FOOTER || */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    background-color: var(--Color_White);
    z-index: 1;
}

.Footer_Texts {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer_Links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Copyright_Textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

/* || PHONES || */
@media (max-width: 767px) {
    footer {
        padding: var(--Section_Padding);
        gap: var(--Content_Gap);
    }

    .Footer_Texts {
        flex-direction: column;
    }

    .Footer_Links {
        gap: var(--Content_Gap);
    }

    .Footer_Links > img {
        max-width: 3rem;
    }

    .Ponos_Button img {
        max-width: 7.5rem;
    }

    .Copyright_Textbox {
        gap: var(--Content_Gap);
    }

    .Copyright_Textbox a {
        font-size: clamp(1.25rem, 1vw, 1.5rem);
    }

    footer > h3 {
        font-size: clamp(1.3rem, 1vw, 1.8rem);
    }
}

/* || TABLETS || */
@media (min-width: 768px) and (max-width: 1023px) {
    footer {
        flex-direction: column;
        padding: 1.75rem;
        gap: 1.25rem;
    }

    .Footer_Texts {
        flex-direction: column;
    }

    .Footer_Links {
        gap: 1.25rem;
    }

    .Footer_Links > img {
        max-width: 4rem;
    }

    .Ponos_Button img {
        max-width: 9rem;
    }

    .Copyright_Textbox {
        gap: 1.25rem;
    }

    .Copyright_Textbox a {
        font-size: 1.4rem;
    }

    footer > h3 {
        font-size: 1.5rem;
    }
}

/* || NOTEBOOKS || */
@media (min-width: 1024px) and (max-width: 1279px) {
    footer {
        padding: 2rem;
        gap: 1.5rem;
    }

    .Footer_Links {
        gap: 2rem;
    }

    .Footer_Links > img {
        max-width: 5rem;
    }

    .Ponos_Button img {
        max-width: 10rem;
    }

    .Copyright_Textbox {
        gap: 1.5rem;
    }

    .Copyright_Textbox a {
        font-size: 1.5rem;
    }

    footer > h3 {
        font-size: 1.6rem;
    }
}

/* || DESKTOPS */
@media (min-width: 1280px) and (max-width: 1599px) {
    footer {
        padding: 2.25rem;
        gap: 1.75rem;
    }

    .Footer_Links {
        gap: 2.25rem;
    }

    .Footer_Links > img {
        max-width: 4rem;
    }

    .Ponos_Button img {
        max-width: 10rem;
    }

    .Copyright_Textbox {
        gap: 1.75rem;
    }

    .Copyright_Textbox a {
        font-size: 1.6rem;
    }

    footer > h3 {
        font-size: 1.7rem;
    }
}

/* || BIG MONITORS || */
@media (min-width: 1600px) {
    footer {
        padding: 2.5rem;
        gap: 2rem;
    }

    .Footer_Links {
        gap: 2.5rem;
    }

    .Footer_Links > img {
        max-width: 4rem;
    }

    .Ponos_Button img {
        max-width: 10rem;
    }

    .Copyright_Textbox {
        gap: 2rem;
    }

    .Copyright_Textbox a {
        font-size: clamp(1.65rem, 1.2vw, 2rem);
    }

    footer > h3 {
        font-size: clamp(1.75rem, 1.3vw, 2.1rem);
    }
}