/* || OTHER_GAMES || */
#Other_Games {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: #72e68f;
    scroll-margin-top: 3.55rem;
}

.Background_Decoration3 {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    background-color: transparent; 
    opacity: 0.35;
    background:
        radial-gradient(circle,#2c9e5b 20%, transparent 20%, transparent 80%,#2c9e5b 80%,#2c9e5b),
        radial-gradient(circle,#2c9e5b 20%, transparent 20%, transparent 80%,#2c9e5b 80%,#2c9e5b) 
        12.5px 12.5px;
}

#Other_Games h2 {
    font-family: var(--Font_Title);
    border-bottom: var(--Border_Light);
    text-align: center;
}

.Games_Gallery_Buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.Games_Gallery_Buttons button {
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: all;
    width: 15vw;
    max-width: 6.5em; 
    height: 15vw;
    max-height: 6.5em;
}

.Games_Gallery {
    position: relative;
    width: 80vw;
    max-width: 40rem;
    height: 75vw;
    max-height: 35rem;
    border-radius: 0.5rem;
    overflow: hidden;
    z-index: 1;
}

.Game_Textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: var(--Shadow_Card);
    border: 3px solid #2c9e5b;
}

.Game_Textbox img {
    max-width: 40rem;
}

.Game_Info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--Color_Overlay_Dark);
    color: var(--Color_White);
}

.Game_Info h3 {
    line-height: 1.25;
    max-width: 90%;
}

.Game_Info p {
    line-height: 1.4;
    max-width: 100%;
    overflow: hidden;
}


/* || PHONES || */
@media (max-width: 767px) {
    #Other_Games {
        padding: 1.5rem;
    }

    .Background_Decoration3 {
        background-size: 1.5rem 1.5rem;
    }

    #Other_Games h2 {
        font-size: clamp(1.5rem, 5vw, 2.1rem);
        padding-block: 1rem 0;
    }

    .Games_Gallery_Buttons {
        width: 95vw;
        margin: 1rem auto 0 auto;
    }

    .Games_Gallery {
        margin: 2rem auto;
    }

    .Game_Info {
        gap: 0.3rem;
        padding: 0.5rem;
    }

    .Game_Info h3 {
        font-size: clamp(1.2rem, 2.5vw, 2rem);
    }
    
    .Game_Info p {
        font-size: clamp(0.9rem, 2.2vw, 1.8rem);
    }
}

/* || TABLETS || */
@media (min-width: 768px) and (max-width: 1023px) {
    #Other_Games {
        padding: var(--Section_Padding);
    }

    .Background_Decoration3 {
        background-size: 3rem 3rem;
    }

    #Other_Games h2 {
        font-size: var(--H2_Size);
        padding-block: 1.5rem 0.5rem;
    }

    .Games_Gallery_Buttons {
        width: 95vw;
        margin: 1.5rem auto 0 auto;
    }

    .Games_Gallery {
        margin: 2.5rem auto;
    }

    .Game_Info {
        gap: 0.75rem;
        padding: 1.5rem;
    }

    .Game_Info h3 {
        font-size: 1.65rem;
    }
    
    .Game_Info p {
        font-size: 1.2rem;
    }
}

/* || NOTEBOOKS || */
@media (min-width: 1024px) and (max-width: 1279px) {
    #Other_Games {
        padding: 2.5rem;
    }

    .Background_Decoration3 {
        background-size: 4rem 4rem;
    }

    #Other_Games h2 {
        font-size: 2.2rem;
        padding-block: 1.75rem 0.75rem;
    }

    .Games_Gallery_Buttons {
        width: 90vw;
        margin: 2rem auto 0 auto;
    }

    .Games_Gallery {
        margin: 2.5rem auto;
    }

    .Game_Info {
        gap: var(--Content_Gap);
        padding: var(--Section_Padding);
    }

    .Game_Info h3 {
        font-size: 1.65rem;
    }
    
    .Game_Info p {
        font-size: 1.25rem;
    }
}

/* || DESKTOPS || */
@media (min-width: 1280px) and (max-width: 1599px) {
    #Other_Games {
        padding: 2.75rem;
    }

    .Background_Decoration3 {
        background-size: 5rem 5rem;
    }

    #Other_Games h2 {
        font-size: 2.4rem;
        padding-block: 2rem 0.75rem;
        border-bottom: var(--Border_Medium);
    }

    .Games_Gallery_Buttons {
        width: 75vw;
        margin: 2.5rem auto 0 auto;
    }

    .Games_Gallery {
        margin: 2.5rem auto;
    }

    .Game_Info {
        gap: 1.25rem;
        padding: var(--Section_Padding);
    }

    .Game_Info h3 {
        font-size: 1.7rem;
    }
    
    .Game_Info p {
        font-size: 1.35rem;
    }
}

/* || BIG MONITORS || */
@media (min-width: 1600px) {
    #Other_Games {
        padding: 3rem;
    }

    .Background_Decoration3 {
        background-size: 5.5rem 5.5rem;
    }

    #Other_Games h2 {
        font-size: clamp(2.6rem, 2vw, 3.2rem);
        padding-block: 2.5rem 1rem;
        border-bottom: var(--Border_Heavy);
    }

    .Games_Gallery_Buttons {
        width: 70vw;
        margin: 2.5rem auto 0 auto;
    }

    .Games_Gallery {
        margin: 2.5rem auto;
        max-width: 65rem;
        max-height: 50rem;
    }

    .Game_Textbox img {
        max-width: 65rem;
    }

    .Game_Info {
        gap: 1.5rem;
        padding: 2.5rem;
    }

    .Game_Info h3 {
        font-size: clamp(1.7rem, 1.4vw, 2.1rem);
    }
    
    .Game_Info p {
        font-size: clamp(1.35rem, 1.1vw, 1.5rem);
    }
}