/* || LOADING SCREEN || */
#Loading_Screen {
    position: fixed;
    inset: 0;
    background-color: var(--Color_White);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

#Loading_Screen.Hidden {
    opacity: 0;
    pointer-events: none;
}

.Loader {
    width: 20%;
    max-width: 5rem;
    height: 7.5%;
    max-height: 12.5rem;
    background: linear-gradient(#ffb347 calc(1*100%/6), #ffd27a 0 calc(3*100%/6), #ffb347 0),
                linear-gradient(#ffcc70 calc(2*100%/6), #ffe69c 0 calc(4*100%/6), #ffcc70 0),
                linear-gradient(#ffa500 calc(3*100%/6), #ffd186 0 calc(5*100%/6), #ffa500 0);
    background-size: 1rem 400%;
    background-repeat: no-repeat;
    animation: Matrix 1s infinite linear;
}


/* || INTERACTIONS / HOVERS || */

/* || LOADING SCREEN || */
@keyframes Matrix {
    0% {
        background-position: 0% 100%, 50% 100%, 100% 100%
    }

    100% {
        background-position: 0% 0%, 50% 0%, 100% 0%
    }
}