/* || SOCIAL MEDIA || */
#Social_Media {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background-color: rgb(149, 92, 255);
    scroll-margin-top: 3rem;
    z-index: 1;
}

.Background_Decoration4 {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: -1;

    background: linear-gradient(
      45deg,
      #51328b 25%,
      transparent 25%,
      transparent 50%,
      #51328b 50%,
      #51328b 75%,
      transparent 75%,
      transparent
    ),
    linear-gradient(
      -45deg,
      #51328b 25%,
      transparent 25%,
      transparent 50%,
      #51328b 50%,
      #51328b 75%,
      transparent 75%,
      transparent
    );
    opacity: 0.4;
}

#Social_Media > h2 {
    font-family: var(--Font_Title);
    padding-block: 1rem 0;
    border-bottom: var(--Border_Light);
    font-size: 2rem;
}

.Social_Media_Texts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Social_Media_Textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Color_White);
    border: var(--Border_Black_Light);
    border-radius: 0.5rem;
}

.Social_Media_Profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--Border_Black_Light);
}

.Social_Media_Link {
    display: flex;
    justify-content: center;
    position: relative;
    border-top: var(--Border_Black_Light)
}

.Social_Media_Link2 {
    display: flex;
    justify-content: center;
    position: relative;
}

.Social_Media_Button {
    border: 3px solid #6f3fcc;
    border-radius: 0.5rem;
    background: linear-gradient(135deg, #a16cff, #6f3fcc);
    color: var(--Color_White);
    font-family: var(--Font_Base);
    cursor: pointer;
    transition: all 0.3s;
    line-height: normal;
    z-index: 1;
}

/* || PHONES || */
@media (max-width: 767px) {
    #Social_Media {
        padding: 1rem 1rem 6.5rem 1rem;
        gap: var(--Section_Padding);
    }

    .Background_Decoration4 {
        background-size: 1.4rem 1.4rem;
    }

    #Social_Media > h2 {
        padding-block: 1rem 0;
        font-size: clamp(1.75rem, 5vw, 2.1rem);
    }

    .Social_Media_Texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--Section_Padding);
    }

    .Social_Media_Textbox {
        width: 21rem;
        padding: var(--Section_Padding);
        gap: var(--Content_Gap);
    }

    .Social_Media_Profile {
        padding: 0.75rem 1rem 1.5rem 1rem;
        gap: 2rem;
    }

    .Profile_Texts {
        gap: 0.15rem;
    }

    .Profile_Texts h3 {
        font-size: clamp(1.2rem, 2vw, 1.6rem);
    }
    
    .Profile_Texts p {
        font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    }

    .Social_Media_Link {
        padding: 1.5rem 0.75rem 1rem 0.75rem;
    }

    .Social_Media_Link2 {
        padding: 1.5rem 0.75rem 1rem 0.75rem;
    }

    .Social_Media_Button {
        padding: 0.8rem 1rem;
    }
}


/* || INTERACTIONS / HOVERS || */
.Social_Media_Button:hover {
    background: linear-gradient(135deg, #b780ff, #5f2dc0);
    transform: scale(1.1);
    box-shadow: 0 0 20px #6fc5ff50;
}

.Social_Media_Button:active {
    background: linear-gradient(135deg, #5f2dc0, #4b1f99);
    transition: all 0.15s;
    box-shadow: none;
    transform: scale(0.98);
}