/* || SOCIAL MEDIA || */
#Social_Media {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background-color: rgb(149, 92, 255);
    scroll-margin-top: 3rem;
    z-index: 1;
}

.Background_Decoration4 {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: -1;

    background: linear-gradient(
      45deg,
      #51328b 25%,
      transparent 25%,
      transparent 50%,
      #51328b 50%,
      #51328b 75%,
      transparent 75%,
      transparent
    ),
    linear-gradient(
      -45deg,
      #51328b 25%,
      transparent 25%,
      transparent 50%,
      #51328b 50%,
      #51328b 75%,
      transparent 75%,
      transparent
    );
    opacity: 0.4;
}

#Social_Media > h2 {
    font-family: var(--Font_Title);
    padding-block: 1rem 0;
    border-bottom: var(--Border_Light);
    font-size: 2rem;
}

.Social_Media_Texts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Social_Media_Textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Color_White);
    border: var(--Border_Black_Light);
    border-radius: 0.5rem;
}

.Social_Media_Profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--Border_Black_Light);
}

.Social_Media_Link {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    border-top: var(--Border_Black_Light);
}

.Social_Media_Link2 {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.Social_Media_Button {
    border: 3px solid #6f3fcc;
    border-radius: 0.5rem;
    background: linear-gradient(135deg, #a16cff, #6f3fcc);
    color: var(--Color_White);
    font-family: var(--Font_Base);
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    line-height: normal;
    z-index: 1;
}

.Social_Media_Page {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* || PHONES || */
@media (max-width: 767px) {
    #Social_Media {
        padding: 1rem 1rem 6.5rem 1rem;
        gap: var(--Section_Padding);
    }

    .Background_Decoration4 {
        background-size: 1.4rem 1.4rem;
    }

    #Social_Media > h2 {
        padding-block: 1rem 0;
        font-size: clamp(1.75rem, 5vw, 2.1rem);
    }

    .Social_Media_Texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--Section_Padding);
    }

    .Social_Media_Textbox {
        width: 21rem;
        padding: var(--Section_Padding);
        gap: var(--Content_Gap);
    }

    .Social_Media_Profile {
        padding: 0.75rem 1rem 1.5rem 1rem;
        gap: 2rem;
    }

    .Social_Media_Profile img {
        max-width: 4.25rem;
    }

    .Profile_Texts {
        gap: 0.15rem;
    }

    .Profile_Texts h3 {
        font-size: clamp(1.2rem, 2vw, 1.6rem);
    }
    
    .Profile_Texts p {
        font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    }

    :where(.Social_Media_Link, .Social_Media_Link2) {
        padding: 1.5rem 0.75rem 1rem 0.75rem;
    }

    .Social_Media_Button {
        font-size: clamp(1rem, 2.5vw, 1.25rem);
        padding: 0.8rem 1rem;
    }

    .Social_Media_Page iframe {
        width: 17.5rem;
        height: 12rem;
    }
}

/* || TABLETS || */
@media (min-width: 768px) and (max-width: 1023px) {
    #Social_Media {
        padding: 1.25rem 1.25rem 6.75rem 1.25rem;
        gap: 2rem;
    }

    .Background_Decoration4 {
        background-size: 1.75rem 1.75rem;
    }

    #Social_Media > h2 {
        padding-block: 1.5rem 0.5rem;
        font-size: var(--H2_Size);
    }

    .Social_Media_Texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .Social_Media_Textbox {
        width: 35rem;
        padding: 2rem;
        gap: 1.5rem;
    }

    .Social_Media_Profile {
        padding: 0.75rem 1rem 1.5rem 1rem;
        gap: 2rem;
    }

    .Social_Media_Profile img {
        max-width: 5.5rem;
    }

    .Profile_Texts {
        gap: 0.3rem;
    }

    .Profile_Texts h3 {
        font-size: 1.6rem;
    }
    
    .Profile_Texts p {
        font-size: 1.2rem;
    }

    :where(.Social_Media_Link, .Social_Media_Link2) {
        padding: 1.75rem 1rem 1.25rem 1rem;
    }

    .Social_Media_Button {
        font-size: 1.25rem;
        padding: 1rem 1.2rem;
    }

    .Social_Media_Page iframe {
        width: 27.5rem;
        height: 18.5rem;
    }
}

/* || NOTEBOOKS || */
@media (min-width: 1024px) and (max-width: 1279px) {
    #Social_Media {
        padding: 1.5rem 1.5rem 7rem 1.5rem;
        gap: 2.5rem;
    }

    .Background_Decoration4 {
        background-size: 2.4rem 2.4rem;
    }

    #Social_Media > h2 {
        padding-block: 2rem 0.75rem;
        font-size: 2.2rem;
    }

    .Social_Media_Texts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
        align-items: stretch;
        gap: 2.25rem;
    }

    .Social_Media_Textbox:first-child {
        grid-row: span 3;
    }

    .Social_Media_Textbox {
        width: 25rem;
        padding: 1rem;
        gap: 1.75rem;
    }

    .Social_Media_Profile {
        padding: 1rem 1.25rem 1.75rem 1.25rem;
        gap: 2.5rem;
    }

    .Social_Media_Profile img {
        max-width: 5rem;
    }

    .Profile_Texts {
        gap: 0.5rem;
    }

    .Profile_Texts h3 {
        font-size: 1.65rem;
    }
    
    .Profile_Texts p {
        font-size: 1.25rem;
    }

    :where(.Social_Media_Link, .Social_Media_Link2) {
        padding: 2rem 1.25rem 1.5rem 1.25rem;
    }

    .Social_Media_Button {
        font-size: 1.3rem;
        padding: 0.9rem 1.1rem;
    }

    .Social_Media_Page iframe {
        width: 22rem;
        height: 15rem;
    }
}

/* || DESKTOPS || */
@media (min-width: 1280px) and (max-width: 1599px) {
    #Social_Media {
        padding: 1.75rem 1.75rem 7.25rem 1.75rem;
        gap: 3rem;
    }

    .Background_Decoration4 {
        background-size: 2.8rem 2.8rem;
    }

    #Social_Media > h2 {
        padding-block: 2rem 0.75rem;
        font-size: 2.4rem;
        border-bottom: var(--Border_Medium);
    }

    .Social_Media_Texts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
        align-items: stretch;
        gap: 2.5rem;
    }

    .Social_Media_Textbox:first-child {
        grid-row: span 3;
    }

    .Social_Media_Textbox {
        width: 30rem;
        padding: 1.25rem;
        gap: 2rem;
        border: var(--Border_Black_Medium);
    }

    .Social_Media_Profile {
        padding: 1.25rem 1.5rem 2rem 1.5rem;
        gap: 2.75rem;
        border-bottom: var(--Border_Black_Medium);
    }

    .Social_Media_Profile img {
        max-width: 6rem;
    }

    .Profile_Texts {
        gap: 0.75rem;
    }

    .Profile_Texts h3 {
        font-size: 1.7rem;
    }
    
    .Profile_Texts p {
        font-size: 1.35rem;
    }
    
    .Social_Media_Link {
        border-top: var(--Border_Black_Medium);
    }

    :where(.Social_Media_Link, .Social_Media_Link2) {
        padding: 2.25rem 1.5rem 1.75rem 1.5rem;
    }

    .Social_Media_Button {
        font-size: 1.3rem;
        padding: 1rem 1.2rem;
    }

    .Social_Media_Page iframe {
        width: 25rem;
        height: 17.5rem;
    }
}

/* || BIG MONITORS || */
@media (min-width: 1600px) {
    #Social_Media {
        padding: 2rem 2rem 7.5rem 2rem;
        gap: 3.25rem;
    }

    .Background_Decoration4 {
        background-size: 3rem 3rem;
    }

    #Social_Media > h2 {
        padding-block: 2.5rem 1rem;
        font-size: 2.4rem;
        border-bottom: clamp(2.6rem, 2vw, 3.2rem);
    }

    .Social_Media_Texts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
        align-items: stretch;
        gap: 2.75rem;
    }

    .Social_Media_Textbox:first-child {
        grid-row: span 3;
    }

    .Social_Media_Textbox {
        width: 35rem;
        padding: 1.5rem;
        gap: 2.25rem;
        border: var(--Border_Black_Heavy);
    }

    .Social_Media_Profile {
        padding: 1.5rem 1.75rem 2.25rem 1.75rem;
        gap: 3rem;
        border-bottom: var(--Border_Black_Medium);
    }

    .Social_Media_Profile img {
        max-width: 6rem;
    }

    .Profile_Texts {
        gap: 1rem;
    }

    .Profile_Texts h3 {
        font-size: clamp(1.7rem, 1.4vw, 2.1rem);
    }
    
    .Profile_Texts p {
        font-size: clamp(1.35rem, 1.1vw, 1.5rem);
    }

    .Social_Media_Link {
        border-top: var(--Border_Black_Medium);
    }

    :where(.Social_Media_Link, .Social_Media_Link2) {
        padding: 2.5rem 1.75rem 2rem 1.75rem;
    }

    .Social_Media_Button {
        font-size: 1.3rem;
        padding: 1rem 1.2rem;
    }

    .Social_Media_Page iframe {
        width: 30rem;
        height: 21rem;
    }
}


/* || INTERACTIONS / HOVERS || */
.Social_Media_Button:hover {
    background: linear-gradient(135deg, #b780ff, #5f2dc0);
    transform: scale(1.1);
    box-shadow: 0 0 20px #6fc5ff50;
}

.Social_Media_Button:active {
    background: linear-gradient(135deg, #5f2dc0, #4b1f99);
    transition: all 0.15s;
    box-shadow: none;
    transform: scale(0.98);
}