/* || TITLE || */
#Title {
    width: 100%;
    height: clamp(25em, 20vw, 55em);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/Assets/Images/Background1.gif");
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

#Title picture {
    position: absolute;
    width: 100%;
    height: 100%;
}

.Background2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    inset: 0;
}

.Background2 img {
    object-fit: cover;
    z-index: 1;
}

.Basic_Cat {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    top: 15%;
}

.Basic_Cat img {
    object-fit: contain;
    height: auto;
    transform: translateY(6%);
}

/* || PHONES || */
@media (max-width: 767px) {
    #Title {
        height: clamp(25em, 20vw, 55em);
    }

    .Background2 img {
        width: clamp(100%, 90vw, 110%);
        height: clamp(100%, 90vh, 110%);
    }

    .Basic_Cat img {
        width: clamp(70%, 43vw, 80%);
        height: clamp(70%, 43vw, 80%);
    }
}

/* || TABLETS || */
@media (min-width: 768px) and (max-width: 1023px) {
    #Title {
        height: 30em;
    }

    .Background2 img {
        max-width: 50em;
        max-height: 50em;
    }

    .Basic_Cat {
        max-width: 20em;
    }
}

/* || NOTEBOOKS || */
@media (min-width: 1024px) and (max-width: 1279px) {
    #Title {
        height: 35em;
    }

    .Background2 img {
        max-width: 60em;
        max-height: 60em;
    }

    .Basic_Cat {
        max-width: 24em;
    }
}

/* || DESKTOPS || */
@media (min-width: 1280px) and (max-width: 1599px) {
    #Title {
        height: 48em;
    }

    .Background2 img {
        max-width: 70em;
        max-height: 70em;
    }

    .Basic_Cat {
        max-width: 28em;
    }
}

/* || BIG MONITORS || */
@media (min-width: 1600px) {
    #Title {
        height: clamp(50em, 35vw, 55em);
    }

    .Background2 img {
        max-width: clamp(70em, 60vw, 85em);
        max-height: clamp(70em, 60vw, 85em);
    }

    .Basic_Cat {
        max-width: clamp(30em, 24vw, 36em);
    }
}