/* || TRAILER || */
#Trailer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    overflow: hidden;
    scroll-margin-top: 5rem;
}

.Trailer_Preview {
    position: relative;
    cursor: pointer;
    width: 75%;
    max-width: 40rem;
    height: auto;
}

.Trailer_Play_Icon {
    position: absolute;
    width: 15%;
    top: 54%;
    left: 49%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.Trailer_Modal {
    position: fixed;
    display: none;
    inset: 0;
    z-index: 1000;
}

.Trailer_Modal.Active {
    display: grid;
    place-items: center;
}

.Trailer_Overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(4px);
}

.Trailer_Content {
    position: relative;
    z-index: 1;
    width: 85vw;
    max-width: 90rem;
}

.Trailer_Iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 1rem;
    border: 4px solid rgba(0, 0, 0, 0.301);
}

.Trailer_Close_Button {
    position: absolute;
    top: -25px;
    right: -17px;
    background: none;
    border: none;
    cursor: pointer;
    width: 11vw;
    max-width: 5.5rem;
}

/* || PHONES || */
@media (max-width: 767px) {
    #Trailer {
        gap: 1.5rem;
        padding-block: 1rem 2.5rem;
    }
}

/* || TABLETS || */
@media (min-width: 768px) and (max-width: 1023px) {
    #Trailer {
        gap: 1.75rem;
        padding-block: 1.25rem 4rem;
    }
}

/* || NOTEBOOKS || */
@media (min-width: 1024px) and (max-width: 1279px) {
    #Trailer {
        gap: 2rem;
        padding-block: 1.5rem 5rem;
    }
}

/* || DESKTOPS || */
@media (min-width: 1280px) and (max-width: 1599px) {
    #Trailer {
        gap: 2.25rem;
        padding-block: 1.75rem 5rem;
    }
}

/* || BIG MONITORS || */
@media (min-width: 1600px) {
    #Trailer {
        gap: 2.5rem;
        padding-block: 2rem 5rem;
    }
}