/* || YOUTUBERS || */
#Youtubers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: rgb(255, 0, 221);
    scroll-margin-top: 3rem;
    z-index: 1;
}

.Background_Decoration6 {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: -1;

    background: linear-gradient(45deg, rgb(55, 23, 65) 25%, transparent 25%, transparent 75%, rgb(55, 23, 65) 75%, rgb(55, 23, 65));
    background-position: 3rem, 3rem, 3rem;
    opacity: 0.2;
}

#Youtubers h2 {
    font-family: var(--Font_Title);
    border-bottom: var(--Border_Light);
}

.Youtubers_Gallery {
    display: flex;
    justify-content: center;
}

.Youtuber_Profile {
    flex: 0 0 auto;
}

.Youtuber_Profile img {
    width: 100%;
    border-radius: 5rem;
    border: var(--Border_Medium2);
    box-shadow: var(--Shadow_Card);
}

.Youtubers_Gallery_Buttons {
    width: 100%;
    left: 0;
}

.Youtubers_Gallery_Buttons button {
    max-width: 5em; 
    max-height: 5em;
}

/* || PHONES || */
@media (max-width: 767px) {
    #Youtubers {
        padding: 0rem 1rem 1.5rem 1rem;
    }

    .Background_Decoration6 {
        background-size: 2rem 2rem;
    }

    #Youtubers h2 {
        font-size: clamp(1.75rem, 5vw, 2.1rem);
        padding-block: 1rem 0;
    }

    .Youtubers_Gallery {
        gap: 1rem;
        margin: 2rem 1rem;
    }

    .Youtuber_Profile {
        width: 7.5rem;
        height: 7.5rem;
    }

    .Youtubers_Gallery_Buttons {
        top: 52.5%;
        padding: 0 0.5rem;
    }
}

/* || TABLETS || */
@media (min-width: 768px) and (max-width: 1023px) {
    #Youtubers {
        padding: 0rem 1.25rem 1.75rem 1.25rem;
    }

    .Background_Decoration6 {
        background-size: 2.5rem 2.5rem;
    }

    #Youtubers h2 {
        font-size: var(--H2_Size);
        padding-block: 1.5rem 0.5rem;
    }

    .Youtubers_Gallery {
        gap: 1.25rem;
        margin: 2.25rem 1.25rem;
    }

    .Youtuber_Profile {
        width: 9rem;
        height: 9rem;
    }

    .Youtubers_Gallery_Buttons {
        top: 57.5%;
        padding: 0.25rem 0.75rem;
    }
}